header {
    border: 1px solid black;
    margin: 20px;
}

aside {
    border: 1px solid red;
    display: inline-block;
    margin: 20px;
}

.main {    
    border: 1px solid blue;
    margin: 20px;
    align-items: center;
    text-align: center;
}

.boardList {
    display: inline-flex;
    margin: 20px;
    align-items: center;
    text-align: center;
}

.card {
    margin: .5rem;
}

.Footer {
    border: 1px solid black;
    margin: 20px;
}