body {
    display: flex;
    flex-direction: column;    
}

header {
    border: 1px solid black;
    display: block;    
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    align-items: center;
    margin: 20px;
}

main {
    display: inline-flex;
    flex: 1;
}

aside {
    border: 1px solid red;
    display: inline-block;        
    padding: .25rem;    
    margin-left: 1%;    
}

.search {
    border-radius: 15px;
}


.body {
    border: 1px solid blue;    
    flex: 1;
    padding: 1rem;
    align-items: center;
    text-align: center;
}

.boardList {
    display: flex;
    flex-wrap: wrap;
    gap: .25rem;
    align-items: center;
    text-align: center;
}

.card {
    display: inline-flex;
    margin: .5rem;
}

footer {        
    text-align: center;
}

.Footer {    
    background-color: white;
    margin-top: auto;
    margin: .25rem;
}